.main__title {
  font-size: 40px;
}

.main__description {
  font-size: 30px;
  padding-bottom: 20px;
  color: $color-primary-dark;
}

.about-progect {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-progect__title {
  padding-bottom: 20px;
}

.about-progect__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}