.stat__view {
  @include flex-center;
  padding: 8px 15px;
  color: white;
  line-height: 100%;
  box-shadow: 0px 0px 10px #fff;
  border-radius: 5px;

  &_success {
    background-color: #4BB543;
  }

  &_error {
    background-color: #a30d0d;
  }
}