$color-primary-dark: #303F9F;
$color-primary: #3F51B5;
$color-primary-light: #C5CAE9;

$color-accent: #CDDC39;

$color-divider: #BDBDBD;

$color-icons: #FFFFFF;
$color-text-primary: #212121;
$color-text-secondary: #757575;