@import '../../styles/colors.scss';

html {
  position: relative;
  box-sizing:border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: $color-primary-dark;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  position: relative;
}

.sprint__wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
  max-width: 700px;
  min-height: 400px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: $color-primary-light;
  padding: 20px;
}

.sprint__description {
font-size: 24px;
padding-bottom: 5px;
color: $color-icons;
text-align: center;
}

.rule {
  color: $color-primary-dark;
}
.selection__title {
  font-size: 32px;
  text-align: center;
  padding: 30px;
  color: $color-text-primary;
}

.selection__list {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px;
}

.selection__btn {
width: 40px;
height: 40px;
}

.wsprint__word-box {
  width: 70vw;
  height: 70vh;
}

.sprint__question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  width: 600px;
  background-color:$color-primary-light;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.sprint__btn-wrapper {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items:center;
}

.sprint__word-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 320px;
}

.sprint__word-question {
  min-height: 120px;
  font-size: 30px;
  padding-bottom: 15px;
}

.sprint__word-answer {
  min-height: 100px;
  font-size: 26px;
  color: $color-icons;
}

.button-wrapper {
  display: flex;
  gap: 30px;
}

.score-wrapper,
.sprint__timer-wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 120px;
  height: 120px;
  border: 5px solid $color-icons;
  border-radius: 50%;
  font-size: 55px;
  color: $color-icons;
}

.sprint__score {
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 18px;
  color: $color-icons;
  padding-bottom: 25px;

}

.sprint__result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}

.sprint__result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  width: 600px;
  overflow-y: scroll;
  max-height: 500px;
  background-color:$color-primary-light;
  border-radius: 10px;
  padding: 20px;
}

.correct-div,
.uncorrect-div {
  border-bottom: 1px solid black;
  width: 100%;
}

.correct-li {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px dotted black;
}

.correct-result__title,
.uncorrect-result__title {
  padding: 10px;
  color: green;
  text-align: center;
}

.uncorrect-result__title {
  color: red;
}

.buttons-wrapper {
  margin-bottom: 20px;
  padding: 20px 0;
  display: flex;
  gap:20px;
}

.new-game-btn,
.in-textbook-btn {
  margin: 20px auto;
  width: 150px;
}

.invisible {
  display: none;
}

